---
export const prerender = true;
import { NotionMenu } from '../components/NotionMenu';
import Layout from '../layouts/Layout.astro';

---

<Layout title="AstroMenu">
	<main class="w-full">
		<NotionMenu client:load/>
	</main>
</Layout>
