---
import Layout from '../layouts/Layout.astro';
import { getNotionItems, getNotionProperties } from '../utils';

const notionItems = await getNotionItems({
	auth: import.meta.env.NOTION_API_KEY
});

const notionRecipe = await getNotionProperties({
	auth: import.meta.env.NOTION_API_KEY,
});

const items = await Promise.all(
	notionItems.map(async ({ properties } : any) => {
		const title = properties.Title.title[0].plain_text;
		return {title};
	})
);

const recipe = await Promise.all(
	notionRecipe.map(async ({ properties } : any) => {
		console.log("recipe",properties);
		const title = properties.Title.title[0].plain_text;
		const isAvailable = properties.Available.checkbox;
		return {title, isAvailable}
	})
)
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			{
				recipe.map((item) => (
					<div>
						<p>Title is: {item?.title}</p>
						<p>Is Available: {item?.isAvailable}</p>
					</div>
				))
			}
		</div>
	</main>
</Layout>